@use '../../styles/mixins' as *;

.food {
    &__word {
        @include screen;
    }

    &__arrow {
        position: absolute;
        left: 115px;

        &--meal {
            top: 165px;
        }

        &--snack {
            top: 200px;
        }
        
    }
}