@use '../../styles/mixins' as *;

.food {
    &__container {
        position: absolute;
        top: screenTop();
        left: screenLeft(8);
        display: flex;
        flex-direction: column;
        row-gap: pixels(1);
    }

    &__text {
        margin-bottom: calc(pixels(2) * -1);
    }

    &__arrow {
        position: absolute;
        left: screenLeft();

        &--meal {
            top: screenTop();
        }

        &--snack {
            top: screenTop(8);
        }
        
    }
}