@keyframes sprite-play {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -5940px 0;
    }
}

@keyframes egg-animation {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -330px 0;
    }
}