@keyframes baby-idle {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -5940px 0;
    }
}

@keyframes egg-idle {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -330px 0;
    }
}

@keyframes hatch {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -495px 0;
    }
}