@use 'animations' as *;

@function pixels($pixels) {
    @return $pixels * 5px
}

$screenPositionTop: 165px;
$screenPositionLeft: 115px;
$screenWidth: pixels(33);
$screenHeight: pixels(15);


@mixin screen($image: false) {
    @if $image {
        background: url($image) no-repeat;
    }
    position: absolute;
    width: 165px;
    height: 75px;
    inset: 165px 0 0 115px;
}

@mixin animated($animation, $steps, $repeat: infinite) {
    animation: $animation calc($steps * 1s / 2) steps($steps) $repeat;
}

@function screenTop($pixels: 0) {
    @return $screenPositionTop + pixels($pixels);
}

@function screenLeft($pixels: 0) {
    @return $screenPositionLeft + pixels($pixels);
}