@use 'animations' as *;

@mixin screen($image) {
    background: url($image) no-repeat;
    position: absolute;
    width: 165px;
    height: 75px;
    inset: 165px 0 0 115px;
}

@mixin animated($animation, $steps, $repeat: infinite) {
    animation: $animation calc($steps * 1s / 2) steps($steps) $repeat;
}