@mixin screen($image) {
    background: url($image) no-repeat;
    position: absolute;
    width: 165px;
    height: 75px;
    inset: 165px 0 0 115px;
}

@mixin animated($steps, $repeat: infinite) {
    @keyframes animation {
        from {
            background-position: 0 0;
        }
        to {
            background-position: calc($steps * -165px) 0;
        }
    }

    & { animation: animation calc($steps * 1s / 2) steps($steps) $repeat; }

}