.main {
    width: 100%;
    height: 440;
    overflow: clip;
}

.background {
    object-fit: cover;
    app-region: drag;
    position: absolute;
    top: 0;
    left: 0;
}

.buttons {
    position: absolute;
    app-region: no-drag;
}

.buttons--a {
    top: 328px;
    left: 135px;
    width: 26px;
    height: 27px;
    background-image: url('../../assets/images/buttons/buttonA_up.PNG');
}

.buttons--b {
    top: 340px;
    left: 183px;
    width: 28px;
    height: 27px;
    background-image: url('../../assets/images/buttons/buttonB_up.PNG');
}

.buttons--c {
    top: 329px;
    left: 233px;
    width: 27px;
    height: 25px;
    background-image: url('../../assets/images/buttons/buttonC_up.PNG');
}

.buttons--a:active {
    background-image: url('../../assets/images/buttons/buttonA_down.PNG');
}

.buttons--b:active {
    background-image: url('../../assets/images/buttons/buttonB_down.PNG');
}

.buttons--c:active {
    background-image: url('../../assets/images/buttons/buttonC_down.PNG');
}

@keyframes sprite-play {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -5940px 0;
    }
}

.character {
    position: absolute;
    top: 165px;
    left: 115px;
    background-image: url('../../assets/images/baby_sprite.png');
    background-repeat: no-repeat;
    width: 165px;
    height: 75px;
    overflow: hidden;
    animation: sprite-play 18s steps(36) infinite;
    /* object-position: ; */
}