@use '../../styles/animations' as *;
@use '../../styles/mixins' as *;

.main {
}

.background {
    app-region: drag;
    position: absolute;
    inset: 0;
}

.character {
    @include screen('../../assets/images/sprites/baby_sprite.png');
    @include animated(36);
}