@use '../../styles/animations.scss' as *;

.main {
}

.background {
    app-region: drag;
    position: absolute;
    inset: 0;
}

.character {
    position: absolute;
    top: 165px;
    left: 115px;
    background: url('../../assets/images/sprites/baby_sprite.png') no-repeat;
    width: 165px;
    height: 75px;
    animation: sprite-play 18s steps(36) infinite;
    /* object-position: ; */
}