
.icon {
    position: absolute;

    &--0 {
        inset: 133px 0 0 135px;
    }

    &--1 {
        inset: 133px 0 0 168px;
    }

    &--2 {
        inset: 134px 0 0 202px;
    }

    &--3 {
        inset: 132px 0 0 238px;
    }

    &--4 {
        inset: 252px 0 0 131px;
    }

    &--5 {
        inset: 254px 0 0 167px;
    }

    &--6 {
        inset: 253px 0 0 203px;
    }

    &--7 {
        inset: 254px 0 0 239px;
    }
}