@use '../../styles/mixins' as *;
@use '../../styles/globals';

@mixin scale_screen {
    position: absolute;
    top: screenTop();
    left: screenLeft();
    width: $screenWidth;
    height: $screenHeight;
    display: flex;
    flex-direction: column;
}

.weight {
    &__screen {
        @include scale_screen;
        gap: pixels(1);
    }

    &__container {
        height: pixels(7);
        display: flex;
        column-gap: pixels(3);
        padding-left: pixels(2);
        align-items: flex-end;
        justify-content: space-between;
    }

    &__numbers {
        margin-bottom: calc(pixels(2) * -1);
        letter-spacing: pixels(2);
        width: calc(pixels(4)*2 + pixels(2));
    }

    &__text {
        margin-bottom: calc(pixels(2) * -1);
        margin-right: calc(pixels(1) * -1);
    }
}

.discipline {
    &__text {
        position: absolute;
        top: screenTop();
        left: screenLeft(1);
    }

    &__container {
        background-image: url('../../assets/images/scale/discipline_scale.png');
        background-position: cover;
        box-sizing: border-box;
        width: calc($screenWidth - pixels(2));
        height: pixels(7);
        position: absolute;
        top: screenTop(8);
        left: screenLeft(2);

        display: flex;
        row-gap: pixels(1);
        padding: pixels(3) pixels(2) pixels(2);
    }
}

.happy {
    &__screen {
        @include scale_screen;
    }

    &__container {
        margin-top: calc(pixels(1) * -1);
        display: flex;
        column-gap: pixels(1);
    }
}